<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ব্লাড বোর্ড</title>
    <link rel="stylesheet" href="/resources/css/style.css">
</head>

<body>

    <!-- NavBar Old -->
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark style=" background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">ব্লাড বোর্ড</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./index.html">হোমপেজ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">সকল রক্তদাতা</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./blogs.html">ব্লগ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">সহযোগী প্রতিষ্ঠান</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            রক্তদাতা হিসেবে যুক্ত হন
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">লগইন</a></li>
                            <li><a class="dropdown-item" href="#">নতুন একাউন্ট করুন</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NavBar -->

    <!-- Main Content -->
   

    <!-- Main Content -->



    <!-- Footer -->


    <!-- Footer -->













    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>